* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: rgb(54, 148, 148);
    
    height:5rem;
    line-height:5rem;
    
    
}
.choices {
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin:80px;
    gap:2rem;
}
.choice:hover {
    background-color: black;
    cursor: pointer;
    
    
}

.choice {
    height :130px;
    width:130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 
 
img {
    height :120px;
    width:120px;
    object-fit: cover;
    border-radius: 50%;
} 
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    font-size:2rem;
}

#score-user,#score-comp {
    font-size :3rem;
}
.msg-contanior {
    margin-top:4rem;
    

}

#msg {
    background-color: rgb(7, 13, 14);
    color:whitesmoke;
    font-size:2rem;
    padding:1rem;
    border-radius: 1rem;
    
    display: inline;
}
